
<!--comment  -->
<!--(1st do this to compile) erb site/game_stats.html.erb > site/game_stats.html
 (then do this to open both from cross_check dir) open site/index.html-->
 <% require './lib/stat_tracker.rb' %>

 <% game_path = './data/game.csv'
 team_path = './data/team_info.csv'
 game_teams_path = './data/game_teams_stats.csv'
 dummy_game_path = './dummy_data/dummy_game.csv'
 dummy_team_path = './dummy_data/dummy_team_info.csv'
 dummy_game_teams_path = './dummy_data/dummy_game_team_stats.csv'

 locations = {
   games: game_path,
   teams: team_path,
   game_teams: game_teams_path,
   dummy_games: dummy_game_path,
   dummy_teams: dummy_team_path,
   dummy_game_teams: dummy_game_teams_path
 }
 %>
 <%stat_tracker = StatTracker.from_csv(locations) %>

 <head>
 <link rel="stylesheet" type="text/css" href="style.css">
 </head>

 <div id = "nav_bar">
   <h1> Game Stats Page </h1>
   <a href='game_stats.html'>Game Stats Page</a>
   <a href='league_stats.html'>League Stats Page</a>
   <a href='team_stats.html'>Team Stats Page</a>
   <a href='season_stats.html'>Season Stats Page</a>
   <a href='index.html'>Home    </a>
   
   <br>
   <a href = 'info.html'>Whats Cross Check?</a>
 </div>

 <hr>


 <h3> Game Stats </h3>
 <h4> Highest Total Score: <%= stat_tracker.highest_total_score %> </h4>
 <h4> Lowest Total Score: <%= stat_tracker.lowest_total_score %> </h4>
 <h4> Biggest Blowout: <%= stat_tracker.biggest_blowout %> </h4>
 <h4> Percentage of Home Wins: <%= stat_tracker.percentage_home_wins %> </h4>
 <h4> Percentage of Visitor Wins: <%= stat_tracker.percentage_visitor_wins %> </h4>
 <br>
 <hr>
