<!--comment  -->
<!--(1st do this to compile) erb site/index.html.erb > site/index.html
 (then do this to open both from cross_check dir) open site/index.html-->
<% require './lib/stat_tracker.rb' %>

<% game_path = './data/game.csv'
team_path = './data/team_info.csv'
game_teams_path = './data/game_teams_stats.csv'
dummy_game_path = './dummy_data/dummy_game.csv'
dummy_team_path = './dummy_data/dummy_team_info.csv'
dummy_game_teams_path = './dummy_data/dummy_game_team_stats.csv'

locations = {
  games: game_path,
  teams: team_path,
  game_teams: game_teams_path,
  dummy_games: dummy_game_path,
  dummy_teams: dummy_team_path,
  dummy_game_teams: dummy_game_teams_path
}
%>

<% game_path = './data/game.csv'
team_path = './data/team_info.csv'
game_teams_path = './data/game_teams_stats.csv'
dummy_game_path = './dummy_data/dummy_game.csv'
dummy_team_path = './dummy_data/dummy_team_info.csv'
dummy_game_teams_path = './dummy_data/dummy_game_team_stats.csv'
stat_tracker = StatTracker.from_csv(locations) %>

<a href='game_stats.html'>Game Stats Page</a>
<a href='team_stats.html'>Team Stats Page</a>


<h3> Game Stats </h3>
<h4> Highest Total Score: <%= stat_tracker.highest_total_score %> </h4>
<h4> Lowest Total Score: <%= stat_tracker.lowest_total_score %> </h4>
<h4> Biggest Blowout: <%= stat_tracker.biggest_blowout %> </h4>
<h4> Percentage of Home Wins: <%= stat_tracker.percentage_home_wins %> </h4>
<h4> Percentage of Visitor Wins: <%= stat_tracker.percentage_visitor_wins %> </h4>
<br>
<hr>
<h3> League Stats </h3>
<h4> Count of Teams: <%= stat_tracker.count_of_teams %> </h4>
<h4> Best Offense: <%= stat_tracker.best_offense %> </h4>
<h4> Worst Offense: <%= stat_tracker.worst_offense %> </h4>
<h4> Best Defense: <%= stat_tracker.best_defense %> </h4>
<h4> Worst Defense: <%= stat_tracker.worst_defense %> </h4>
<h4> Highest Scoring Visitor: <%= stat_tracker.highest_scoring_visitor %> </h4>
<h4> Lowest Scoring Visitor: <%= stat_tracker.lowest_scoring_visitor %> </h4>
<h4> Lowest Scoring Home Team: <%= stat_tracker.lowest_scoring_home_team %> </h4>
<h4> Winningest Team: <%= stat_tracker.winningest_team %> </h4>
<h4> Best Fans: <%= stat_tracker.best_fans %> </h4>
<h4> Worst Fans: <%= stat_tracker.worst_fans %> </h4>
<br>
<hr>
<h3> Team Stats </h3>
<h4> Team Info: <%= stat_tracker.team_info("3") %> </h4>
<h4> Best Season: <%= stat_tracker.best_season("3") %> </h4>
<h4> Worst Season: <%= stat_tracker.worst_season("3") %> </h4>
<h4> Average Win Percentage: <%= stat_tracker.average_win_percentage("3")%> </h4>
<h4> Most Goals Scored: <%= stat_tracker.most_goals_scored("3") %> </h4>
<h4> Fewest Goals Scored: <%= stat_tracker.fewest_goals_scored("3") %> </h4>
<h4> Favorite Opponent: <%= stat_tracker.favorite_opponent("3") %> </h4>
<h4> Rival: <%= stat_tracker.rival("3") %> </h4>
<h4> Biggest Team Blowout: <%= stat_tracker.biggest_team_blowout("3") %> </h4>
<h4> Worst Loss: <%= stat_tracker.worst_loss("3") %> </h4>
<h4> Head to Head: <%= stat_tracker.head_to_head("3") %> </h4>
<h4> Seasonal Summary: <%= stat_tracker.seasonal_summary("3") %> </h4>
<br>
<hr>
<h3> Season Stats </h3>
<h4> Biggest Bust: <%= stat_tracker.biggest_bust("20122013") %> </h4>
<h4> Biggest Surprise: <%= stat_tracker.biggest_surprise("20122013") %> </h4>
<h4> Winningest Coach: <%= stat_tracker.winningest_coach("20122013") %> </h4>
<h4> Worst Coach: <%= stat_tracker.worst_coach("20122013")%> </h4>
<h4> Most Accurate Team: <%= stat_tracker.most_accurate_team("20122013") %> </h4>
<h4> Least Accurate Team: <%= stat_tracker.least_accurate_team("20122013") %> </h4>
<h4> Most Hits: <%= stat_tracker.most_hits("20122013") %> </h4>
<h4> Fewest Hits: <%= stat_tracker.fewest_hits("20122013") %> </h4>
<h4> Power Play Goal Percentage: <%= stat_tracker.power_play_goal_percentage("20122013") %> </h4>
<br>
<hr>
